@import url('https://fonts.googleapis.com/css?family=Eczar');
@import url('https://fonts.googleapis.com/css?family=Rubik');

html,
body {
  height: 100%;
}

body {
  background-color: #8e98aa;
}

#app {
  height: 100%;
  flex-direction: column;
  box-sizing: border-box;
  display: flex;
  place-content: stretch center;
  align-items: stretch;
  max-width: 100%;
}

.page {
  height: 17rem;
  flex-direction: row;
  box-sizing: border-box;
  display: flex;
  place-content: center;
  align-items: center;
}

.main {
  height: 100%;
  flex-direction: column;
  box-sizing: border-box;
  display: flex;
  place-content: center;
  align-items: start;
  min-width: 25rem;
}

.author-image-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  place-items: center;
  width: 15rem;
}
